
/* AJUSTES GENERALES */
*{
    margin: 0;
    padding: 0;
}

html, button {
    background-color: white;
    font-family: 'Josefin Sans', sans-serif;
}

h1, h2 {
    font-family: 'Bebas Neue', sans-serif;
}

h3 {
    font-family: 'Anton', sans-serif;
}

/* HEADER */

header {
    background-image: url('./images/index/background/background_img_4.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 400px;
}

#divHeader {
    display: grid;
    grid-template-columns: 1fr 1fr;
    top: 0;
    left: 0;
    right: 0;
    z-index: 10;
    margin: 0 auto;
    align-items: center;
    transition: background-color 0.5s ease, box-shadow 0.5s ease;
    background-color: transparent;
    position: fixed;
}

#divHeader.scrolled {
    background-color: #E57822;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
}

#divHeader nav {
    text-align: right;
}

#menuIndex {
    list-style: none;
    padding: 0;
    margin: 0;
}

#menuIndex li {
    display: inline;
    margin-right: 1em;
}

#logoHeaderIndex {
    width: 10%;
}

#carritoCompras, #inicio, #usuario {
    width: 3.5%;;
}

#divTitle {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    justify-content: center;
    padding: 9em;
}

h1 {
    font-size: 60px;
}

#slogan {
    color: black;
}

a {
    text-decoration: none;
    color: black;
}

/* MAIN */

#productsTitle {
    margin: 1em;
    font-size: 50px;
    text-align: center;
}

#productSection {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-content: center;
    align-items: center;
    margin: 1em auto;
    max-width: 100%;
}

#productSection article {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    text-align: center;
    padding: 1em;
}


#beerContainer img {
    transition: transform 0.3s ease;
}

#beerContainer img:hover {
    transform: scale(1.1);
}

#beerContainer h3 {
    font-size: 1.2em;
    padding: 0.3em;
}

#beerContainer p {
    font-size: 1em;
    padding: 0.3em;
}

#beerContainer button {
    background-color: #E57822;
    color: white;
    border: none;
    padding: 0.5em;
    font-size: 1em;
    border-radius: 20px;
}

#beerContainer button:hover {
    cursor: pointer;
}

#beerContainer button a {
    color: white;
}

#beerContainer a:hover {
    cursor: pointer;
}

#cerveza1, #cerveza2, #cerveza3, #cerveza4 {
    max-width: 20%;
}

#contact {
    background-image: url('./images/index/background/background_img_2.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 400px;
    display: grid;
    grid-template-columns: 35% 65%;
}

#contactTitle {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 5em;
    background-color: #020202;
    color: white;
} 

#contactForm {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1em;
}

form {
    display: flex;
    flex-direction: column;
    color: white;
    gap: 0.5em;
    width: 60%;
}

form > label {
    font-size: 1.2em;
    text-shadow: #020202 1px 1px 1px;
}

form > input, textarea {
    padding: 0.5em;
    border-radius: 20px;
}

form > button {
    background-color: #E57822;
    color: white;
    border: none;
    padding: 0.5em;
    font-size: 1em;
    border-radius: 20px;
}

form > button:hover {
    cursor: pointer;
}

form > button a {
    color: white;
    font-size: 1.2em;
}

/* FOOTER */

footer {
    display: flex;
    flex-direction: column;
    background-color: #E57822;
    height: 100px;
    color: #fff;
    align-items: center;
    justify-content: center;
    gap: 1em;
}

#politica {
    color: white;
}