  /* ==============================
   PROCESO
   ============================== */

/* MAIN */

/*Title*/

#processTitleSection {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  background-image: url("../../images/background/background_image.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  padding: 1em;
  margin: 1em;
  font-size: 4em;
  padding: 1em;
  color: #e57822;
  text-shadow: white 2px 2px 2px;
}


#sectionProcessText {
  position: relative;
  width: 100%;
  max-width: 600px;
  margin: auto;
  text-align: center;
  overflow: hidden;
  padding-bottom: 40px;
}

.slide {
  display: none;
}

.slide.active {
  display: block;
}


.slide h3 {
  font-size: 3em;
  color: #e57822;
}

.slide img {
  width: 50%;
  height: 50%;
  margin-bottom: 3em;
}

.navigation {
  margin-top: 20px;
}

button {
  padding: 10px 15px;
  margin: 0 5px;
  background-color: #f4a261;
  color: #fff;
  border: none;
  cursor: pointer;
}


/* FOOTER */

footer {
  display: flex;
  flex-direction: column;
  background-color: #e57822;
  height: 100px;
  color: #fff;
  align-items: center;
  justify-content: center;
  gap: 1em;
}

#politica {
  color: white;
}


